<div id="contenu">
	<div id="contenu-top">
		<div id="title">
			<%= @post.title %>
		</div>
		<div id="date">
            <%= @post.updated_at %>
        </div>
	</div>
	<div id="contenu-middle">
		<span class="text">
		<%= @post.content %>
		</span>
	</div>
	<div id="contenu-end">
	</div>
</div>