<div id="left">
    <div id="slide-bg">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class='item active diapo1' style='background-image:url("http://www.ashran.com/assets/img/left/slide/612.png");'>
                    <div class='container'>
                        <div class='carousel-caption'>
                            <span class='slide-title'>Go test 6.1.2</span>
                            <br/>
                            Come & try the new 6.1.2 version on Ashran
                        </div>
                    </div>
                </div>
                <div class='item diapo1' style='background-image:url("http://www.ashran.com/assets/img/left/slide/drov.png");'>
                    <div class='container'>
                        <div class='carousel-caption'>
                            <span class='slide-title'>Drov the Ruiner</span>
                            <br/>
                            Drov the Ruiner, the one who makes the earth shake and carves a swath of devastation!
                        </div>
                    </div>
                </div>
                <div class='item diapo1' style='background-image:url("http://www.ashran.com/assets/img/left/slide/slider_bloodmaul.png");'>
                    <div class='container'>
                        <div class='carousel-caption'>
                            <span class='slide-title'>Bloodmaul mines</span>
                            <br/>
                            Go fight the Ogres of Bloodmaul !
                        </div>
                    </div>
                </div>
                <div class='item diapo1' style='background-image:url("http://www.ashran.com/assets/img/left/slide/slider_garrisons.png");'>
                    <div class='container'>
                        <div class='carousel-caption'>
                            <span class='slide-title'>GARRISONS</span>
                            <br/>
                            Build your garrison and train your followers !
                        </div>
                    </div>
                </div>
                <div class='item diapo1' style='background-image:url("http://www.ashran.com/assets/img/left/slide/slider_ashran2.png");'>
                    <div class='container'>
                        <div class='carousel-caption'>
                            <span class='slide-title'>ASHRAN ZONE</span>
                            <br/>
                            Beat your enemies in this new PvP area !
                        </div>
                    </div>
                </div>
                <div class='item diapo1' style='background-image:url("http://www.ashran.com/assets/img/left/slide/slider_skyreach.png");'>
                    <div class='container'>
                        <div class='carousel-caption'>
                            <span class='slide-title'>SKYREACH</span>
                            <br/>
                            Go fight Anjit, Araknath, Rukhran and High Sage Viryx !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <article>
        <%= yield %>
        </article>
    </div>
</div>