<div id="membership-connected">
	Hello, <span class="important"><%= current_account.username %></span>
    <br/>
		You currently have 
    <span style='color: #A12009;'>
        <b>0</b>
    </span> points.
    <br/>
    
    <ul>
        <% if(current_account.access && current_account.access.gmlevel >= 3) %>
        <li>
            <%= link_to 'Add post', create_post_path %>
        </li>
        <% end %>
        <li>
            <a href="#"> Account management </a>
        </li>
        <li>
            <a href="#" class='buy-points-popup'> Buy points </a>
        </li>
        <li>
            <a href="#"> Vote for us </a>
        </li>
    </ul>
    <%= link_to "Disconnection", log_out_path, :class=> "link" %>
</div>